# Core app
streamlit
langchain
langchain-community
transformers
sentence-transformers
protobuf==3.20.3

# Vectorstore
chromadb
faiss-cpu
pysqlite3-binary


# Optional extras
torch
openai
python-dotenv





